In [2]:
#import packages
import pandas as pd
from pathlib import Path

In [6]:
# Files to load
shelter_df = pd.read_csv(('sonoma_shelter_clean.csv'))
shelter_df

,Animal ID,Animal Type,Breed,Size,Intake Date,Outcome Type,Outcome Zip Code,Intake Jurisdiction,Outcome Jurisdiction,Location
0,A412797,CAT,SIAMESE,KITTN,08/08/2022,TRANSFER,95403.0,SANTA ROSA,SANTA ROSA,"95403(38.486997, -122.749134)"
1,A412786,CAT,DOMESTIC SH,KITTN,08/09/2022,NaN,NaN,COUNTY,NaN,NaN
2,A412794,CAT,SIAMESE,KITTN,08/08/2022,TRANSFER,95403.0,SANTA ROSA,SANTA ROSA,"95403(38.486997, -122.749134)"
3,A412795,CAT,SIAMESE,KITTN,08/08/2022,TRANSFER,95403.0,SANTA ROSA,SANTA ROSA,"95403(38.486997, -122.749134)"
4,A412222,CAT,DOMESTIC SH,SMALL,06/30/2022,TRANSFER,94574.0,COUNTY,OUT OF COUNTY,"94574(38.525993, -122.432854)"
...,...,...,...,...,...,...,...,...,...,...
21567,A351065,DOG,CHIHUAHUA SH/MIX,SMALL,04/12/2017,ADOPTION,95407.0,COUNTY,SANTA ROSA,"95407(38.403734, -122.736775)"
21568,A346283,CAT,DOMESTIC SH,SMALL,12/15/2016,EUTHANIZE,NaN,COUNTY,NaN,NaN
21569,A319531,CAT,DOMESTIC MH,SMALL,03/28/2015,RETURN TO OWNER,95446.0,SANTA ROSA,COUNTY,"95446(38.510032, -122.996796)"
21570,A315809,DOG,SCHNAUZER MIN,SMALL,08/26/2017,EUTHANIZE,NaN,*WINDSOR,NaN,NaN
21571,A321648,DOG,GERM SHEPHERD,LARGE,05/14/2015,EUTHANIZE,NaN,COUNTY,NaN,NaN

In [7]:
facitilities_df = pd.read_csv(('food_facilities_clean.csv'))
facitilities_df

,Name,Address,City,State,ZipCode
0,Park Point Club,1200 N Dutton Ave,Santa Rosa,CA,95401
1,La Guadalupana,1031 Sebastopol Rd,Santa Rosa,CA,95407
2,Freestone Vineyards Guest Center,12747 El Camino Bodega,Freestone,CA,95472
3,"Girl & The Fig, The",21800 Schellville Rd #C,Sonoma,CA,95476
4,Capt Daveys,537 Highway 1,Bodega Bay,CA,94923
...,...,...,...,...,...
3039,Sonoma Eats Mexican Food,18307 Highway 12,Sonoma,CA,95476
3040,The Lazy Hog,800 Petaluma Blvd,Petaluma,CA,94952
3041,Presto Fresco,2434 W 3rd St,Santa Rosa,CA,95401
3042,Sunflower Caffe Coffee & Baking Co. dba Honey ...,720 W Napa St,Sonoma,CA,95476
3043,Yogurtland #248,401 Kenilworth Dr Ste 540,Petaluma,CA,94952

In [9]:
census_df = pd.read_csv(('Sonoma_County_CensusData_by Zip codes.csv'))
census_df

,ZipCode,Population,Number of Households,Median Income,Average Income,Land Area (Sq. Miles),Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,95442,"3,143","1,365","144,129","256,748",24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,94922,726,187,"112,244","168,801",12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,94515,"7,525","2,772","85,263","165,466",106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,95441,"1,696",659,"111,198","141,612",102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,95448,"17,353","6,899","95,938","139,747",188.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,94923,"1,185",545,"66,975","134,882",21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,94952,"35,198","13,834","92,314","131,389",180.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,95492,"29,502","9,915","118,773","128,386",19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,95476,"37,150","15,591","87,374","125,265",112.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,95472,"29,690","12,171","95,417","120,021",69.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,95404,"38,462","15,647","86,555","118,799",80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,94954,"39,018","13,878","95,724","117,619",62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,95405,"22,875","8,955","94,411","114,468",5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,94951,"3,672","1,639","96,155","113,137",15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,95409,"26,739","12,031","77,849","112,960",38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,95425,"11,144","4,394","81,905","111,779",206.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,95452,740,447,"92,094","103,682",14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,95497,"1,156",646,"78,125","101,855",16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,95436,"6,602","2,655","75,417","101,493",23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,94931,"9,097","3,400","85,698","100,991",6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,95401,"38,872","13,817","80,164","100,301",21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,95446,"4,951","2,443","75,035","99,209",33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,94928,"43,908","16,241","78,181","98,961",8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,95403,"44,716","15,871","79,990","97,436",22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,95465,"1,908",890,"65,357","94,134",42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,95450,223,119,"62,679","92,249",27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,95439,444,132,0,"91,283",3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,95421,"1,662",700,"61,691","85,495",217.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,95407,"42,815","12,851","68,720","81,767",23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,95471,569,265,0,"75,678",1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,95412,485,189,"69,375","74,835",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,95462,"1,224",639,"45,417","68,883",6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,95444,357,168,"63,396","62,990",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,95430,13,13,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,95431,121,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,95486,44,29,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
weather_df = pd.read_csv(('sonoma_county_weather_clean.csv'))
weather_df

    month_date  high_temp  low_temp   rain
0   2019-01-01         59        40   6.14
1   2019-02-01         54        38  15.03
2   2019-03-01         61        41   6.64
3   2019-04-01         68        45   1.03
4   2019-05-01         65        46   2.94
5   2019-06-01         77        49   0.29
6   2019-07-01         80        50   0.74
7   2019-08-01         83        52   0.46
8   2019-09-01         82        47   0.19
9   2019-10-01         78        37   0.06
10  2019-11-01         68        36   1.47
11  2019-12-01         57        42   7.01
12  2020-01-01         58        37   1.94
13  2020-02-01         67        35   0.01
14  2020-03-01         61        38   1.39
15  2020-04-01         68        40   1.06
16  2020-05-01         73        45   1.08
17  2020-06-01         78        48   0.06
18  2020-07-01         78        50   0.02
19  2020-08-01         83        52   0.16
20  2020-09-01         84        50   0.54
21  2020-10-01         79        40   0.13
22  2020-11-01         66        34   1.11
23  2020-12-01         61        32   2.45
24  2021-01-01         59        37   3.18
25  2021-02-01         62        36   1.55
26  2021-03-01         62        34   2.17
27  2021-04-02         67        36   0.10
28  2021-05-01         75        42   0.33
29  2021-06-01         77        48   0.13
30  2021-07-01         77        50   0.07
31  2021-08-01         78        50   0.10
32  2021-09-01         80        47   0.33
33  2021-10-01         71        44  10.68
34  2021-11-01         65        43   2.60
35  2021-12-01         53        39   6.89
36  2022-01-01         61        35   0.55
37  2022-02-01         65        32   0.01
38  2022-03-01         65        36   1.42
39  2022-04-01         67        38   2.13
40  2022-05-01         74        42   0.39
41  2022-06-01         72        44   1.32
42  2022-07-01         76        50   1.20
43  2022-08-02         81        50   0.46

In [13]:
result_df = shelter_df.join(census_df, on=["Outcome Zip Code", "ZipCode"], how="left")

ValueError: len(left_on) must equal the number of levels in the index of "right"