In [1]:
import pandas as pd
import os

In [2]:
shelter_data_to_load = "Animal_Shelter_Intake_and_Outcome.csv"

In [3]:
shelter_data_df = pd.read_csv(shelter_data_to_load)
shelter_data_df

,Name,Type,Breed,Color,Sex,Size,Date Of Birth,Impound Number,Kennel Number,Animal ID,...,Intake Subtype,Outcome Type,Outcome Subtype,Intake Condition,Outcome Condition,Intake Jurisdiction,Outcome Jurisdiction,Outcome Zip Code,Location,Count
0,NaN,CAT,SIAMESE,BLACK/BLACK,Female,KITTN,NaN,K22-042204,CS05,A412797,...,FIELD,TRANSFER,FORGOTTEN,TREATABLE/REHAB,TREATABLE/REHAB,SANTA ROSA,SANTA ROSA,95403.0,"95403(38.486997, -122.749134)",1
1,NaN,CAT,DOMESTIC SH,GRAY/WHITE,Male,KITTN,06/24/2022,K22-042194,CA03,A412786,...,PHONE,NaN,NaN,UNKNOWN,NaN,COUNTY,NaN,NaN,NaN,1
2,NaN,CAT,SIAMESE,GRAY/BLACK,Female,KITTN,NaN,K22-042201,CS05,A412794,...,FIELD,TRANSFER,FORGOTTEN,TREATABLE/REHAB,TREATABLE/REHAB,SANTA ROSA,SANTA ROSA,95403.0,"95403(38.486997, -122.749134)",1
3,NaN,CAT,SIAMESE,GRAY/BLACK,Female,KITTN,NaN,K22-042202,CS05,A412795,...,FIELD,TRANSFER,FORGOTTEN,TREATABLE/REHAB,TREATABLE/REHAB,SANTA ROSA,SANTA ROSA,95403.0,"95403(38.486997, -122.749134)",1
4,NaN,CAT,DOMESTIC SH,BLACK,Female,SMALL,12/30/2020,K22-041790,SMM,A412222,...,FIELD,TRANSFER,WE CARE,UNKNOWN,HEALTHY,COUNTY,OUT OF COUNTY,94574.0,"94574(38.525993, -122.432854)",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23465,*ETHEL,DOG,CHIHUAHUA SH/MIX,TAN/WHITE,Spayed,SMALL,10/25/2015,K17-023090,DA04,A351065,...,FIELD,ADOPTION,SPEC EVENT,TREATABLE/MANAGEABLE,HEALTHY,COUNTY,SANTA ROSA,95407.0,"95407(38.403734, -122.736775)",1
23466,NaN,CAT,DOMESTIC SH,BRN TABBY/WHITE,Spayed,SMALL,NaN,K16-021904,CS06,A346283,...,FIELD,EUTHANIZE,ILL SEVERE,UNTREATABLE,UNTREATABLE,COUNTY,NaN,NaN,NaN,1
23467,PETER PAN,CAT,DOMESTIC MH,BRN TABBY,Neutered,SMALL,NaN,K15-013364,CA03,A319531,...,OVER THE COUNTER,RETURN TO OWNER,OVER THE COUNTER_MCHIP,TREATABLE/REHAB,TREATABLE/REHAB,SANTA ROSA,COUNTY,95446.0,"95446(38.510032, -122.996796)",1
23468,PRINCE MATT,DOG,SCHNAUZER MIN,GRAY,Neutered,SMALL,01/15/2013,K17-025049,DS56,A315809,...,OVER THE COUNTER,EUTHANIZE,AGGRESSIVE,UNTREATABLE,UNTREATABLE,*WINDSOR,NaN,NaN,NaN,1
23469,*RODDY,DOG,GERM SHEPHERD,TAN/BLACK,Neutered,LARGE,05/14/2013,K15-013959,DQ116,A321648,...,PRIV_SHELT,EUTHANIZE,AGGRESSIVE,HEALTHY,UNTREATABLE,COUNTY,NaN,NaN,NaN,1

In [4]:
shelter_data_df.count()

Name                    17291
Type                    23470
Breed                   23470
Color                   23470
Sex                     23470
Size                    23437
Date Of Birth           17618
Impound Number          23470
Kennel Number           23462
Animal ID               23470
Intake Date             23470
Outcome Date            23286
Days in Shelter         23470
Intake Type             23470
Intake Subtype          23470
Outcome Type            23280
Outcome Subtype         22973
Intake Condition        23470
Outcome Condition       22943
Intake Jurisdiction     23470
Outcome Jurisdiction    20175
Outcome Zip Code        20102
Location                20102
Count                   23470
dtype: int64

In [5]:
shelter_data_df.isnull().sum()

Name                    6179
Type                       0
Breed                      0
Color                      0
Sex                        0
Size                      33
Date Of Birth           5852
Impound Number             0
Kennel Number              8
Animal ID                  0
Intake Date                0
Outcome Date             184
Days in Shelter            0
Intake Type                0
Intake Subtype             0
Outcome Type             190
Outcome Subtype          497
Intake Condition           0
Outcome Condition        527
Intake Jurisdiction        0
Outcome Jurisdiction    3295
Outcome Zip Code        3368
Location                3368
Count                      0
dtype: int64

In [6]:
shelter_data_df.dtypes

Name                     object
Type                     object
Breed                    object
Color                    object
Sex                      object
Size                     object
Date Of Birth            object
Impound Number           object
Kennel Number            object
Animal ID                object
Intake Date              object
Outcome Date             object
Days in Shelter          object
Intake Type              object
Intake Subtype           object
Outcome Type             object
Outcome Subtype          object
Intake Condition         object
Outcome Condition        object
Intake Jurisdiction      object
Outcome Jurisdiction     object
Outcome Zip Code        float64
Location                 object
Count                     int64
dtype: object

In [7]:
filtered_df = shelter_data_df[['Type','Breed','Size','Intake Date','Outcome Type','Outcome Zip Code','Intake Jurisdiction','Outcome Jurisdiction','Location']]
filtered_df

,Type,Breed,Size,Intake Date,Outcome Type,Outcome Zip Code,Intake Jurisdiction,Outcome Jurisdiction,Location
0,CAT,SIAMESE,KITTN,08/08/2022,TRANSFER,95403.0,SANTA ROSA,SANTA ROSA,"95403(38.486997, -122.749134)"
1,CAT,DOMESTIC SH,KITTN,08/09/2022,NaN,NaN,COUNTY,NaN,NaN
2,CAT,SIAMESE,KITTN,08/08/2022,TRANSFER,95403.0,SANTA ROSA,SANTA ROSA,"95403(38.486997, -122.749134)"
3,CAT,SIAMESE,KITTN,08/08/2022,TRANSFER,95403.0,SANTA ROSA,SANTA ROSA,"95403(38.486997, -122.749134)"
4,CAT,DOMESTIC SH,SMALL,06/30/2022,TRANSFER,94574.0,COUNTY,OUT OF COUNTY,"94574(38.525993, -122.432854)"
...,...,...,...,...,...,...,...,...,...
23465,DOG,CHIHUAHUA SH/MIX,SMALL,04/12/2017,ADOPTION,95407.0,COUNTY,SANTA ROSA,"95407(38.403734, -122.736775)"
23466,CAT,DOMESTIC SH,SMALL,12/15/2016,EUTHANIZE,NaN,COUNTY,NaN,NaN
23467,CAT,DOMESTIC MH,SMALL,03/28/2015,RETURN TO OWNER,95446.0,SANTA ROSA,COUNTY,"95446(38.510032, -122.996796)"
23468,DOG,SCHNAUZER MIN,SMALL,08/26/2017,EUTHANIZE,NaN,*WINDSOR,NaN,NaN
23469,DOG,GERM SHEPHERD,LARGE,05/14/2015,EUTHANIZE,NaN,COUNTY,NaN,NaN

In [8]:
filtered_df = filtered_df.rename(columns={'Type': 'Animal Type'})
filtered_df

,Animal Type,Breed,Size,Intake Date,Outcome Type,Outcome Zip Code,Intake Jurisdiction,Outcome Jurisdiction,Location
0,CAT,SIAMESE,KITTN,08/08/2022,TRANSFER,95403.0,SANTA ROSA,SANTA ROSA,"95403(38.486997, -122.749134)"
1,CAT,DOMESTIC SH,KITTN,08/09/2022,NaN,NaN,COUNTY,NaN,NaN
2,CAT,SIAMESE,KITTN,08/08/2022,TRANSFER,95403.0,SANTA ROSA,SANTA ROSA,"95403(38.486997, -122.749134)"
3,CAT,SIAMESE,KITTN,08/08/2022,TRANSFER,95403.0,SANTA ROSA,SANTA ROSA,"95403(38.486997, -122.749134)"
4,CAT,DOMESTIC SH,SMALL,06/30/2022,TRANSFER,94574.0,COUNTY,OUT OF COUNTY,"94574(38.525993, -122.432854)"
...,...,...,...,...,...,...,...,...,...
23465,DOG,CHIHUAHUA SH/MIX,SMALL,04/12/2017,ADOPTION,95407.0,COUNTY,SANTA ROSA,"95407(38.403734, -122.736775)"
23466,CAT,DOMESTIC SH,SMALL,12/15/2016,EUTHANIZE,NaN,COUNTY,NaN,NaN
23467,CAT,DOMESTIC MH,SMALL,03/28/2015,RETURN TO OWNER,95446.0,SANTA ROSA,COUNTY,"95446(38.510032, -122.996796)"
23468,DOG,SCHNAUZER MIN,SMALL,08/26/2017,EUTHANIZE,NaN,*WINDSOR,NaN,NaN
23469,DOG,GERM SHEPHERD,LARGE,05/14/2015,EUTHANIZE,NaN,COUNTY,NaN,NaN

In [9]:
type_count = filtered_df.groupby(["Animal Type"]).count()
type_count

,Breed,Size,Intake Date,Outcome Type,Outcome Zip Code,Intake Jurisdiction,Outcome Jurisdiction,Location
Animal Type,,,,,,,,
CAT,8330,8328,8330,8268,6797,8330,6797,6797
DOG,13242,13211,13242,13140,11934,13242,11994,11934
OTHER,1898,1898,1898,1872,1371,1898,1384,1371

In [10]:
dogs_cats_df = filtered_df[filtered_df["Animal Type"] != "OTHER"]
dogs_cats_df

,Animal Type,Breed,Size,Intake Date,Outcome Type,Outcome Zip Code,Intake Jurisdiction,Outcome Jurisdiction,Location
0,CAT,SIAMESE,KITTN,08/08/2022,TRANSFER,95403.0,SANTA ROSA,SANTA ROSA,"95403(38.486997, -122.749134)"
1,CAT,DOMESTIC SH,KITTN,08/09/2022,NaN,NaN,COUNTY,NaN,NaN
2,CAT,SIAMESE,KITTN,08/08/2022,TRANSFER,95403.0,SANTA ROSA,SANTA ROSA,"95403(38.486997, -122.749134)"
3,CAT,SIAMESE,KITTN,08/08/2022,TRANSFER,95403.0,SANTA ROSA,SANTA ROSA,"95403(38.486997, -122.749134)"
4,CAT,DOMESTIC SH,SMALL,06/30/2022,TRANSFER,94574.0,COUNTY,OUT OF COUNTY,"94574(38.525993, -122.432854)"
...,...,...,...,...,...,...,...,...,...
23465,DOG,CHIHUAHUA SH/MIX,SMALL,04/12/2017,ADOPTION,95407.0,COUNTY,SANTA ROSA,"95407(38.403734, -122.736775)"
23466,CAT,DOMESTIC SH,SMALL,12/15/2016,EUTHANIZE,NaN,COUNTY,NaN,NaN
23467,CAT,DOMESTIC MH,SMALL,03/28/2015,RETURN TO OWNER,95446.0,SANTA ROSA,COUNTY,"95446(38.510032, -122.996796)"
23468,DOG,SCHNAUZER MIN,SMALL,08/26/2017,EUTHANIZE,NaN,*WINDSOR,NaN,NaN
23469,DOG,GERM SHEPHERD,LARGE,05/14/2015,EUTHANIZE,NaN,COUNTY,NaN,NaN

In [11]:
breed_count = dogs_cats_df.groupby(["Animal Type"]).count()["Breed"]
breed_count

Animal Type
CAT     8330
DOG    13242
Name: Breed, dtype: int64